@import '../app.scss';
@mixin card-data {
  text-align: center;
  text-transform: uppercase;
  color: $text-color-primary;
  padding: 0.8rem;
  background-color: $color-secondary;
}
.card-container {
  width: 100%;
  height: auto;
  padding: 0 1em;
  margin: 0.6rem 0;
  .card-image_container {
    a {
      position: relative;
      top: 10px;

      figure {
        width: 100%;
        object-fit: cover;
        overflow: hidden;

        img {
          width: 100%;
          -webkit-transform: scale(1);
          -webkit-transition: 0.3s ease-in-out;
          transform: scale(1);
          transition: 0.3s ease-in-out;
        }
      }
    }
  }
  .card-image_container img:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  .card-title {
    @include card-data;
  }
  .card-title:hover {
    text-decoration: underline;
  }
  .card-price {
    @include card-data;
    padding: 0.6rem;
    font-weight: bold;
  }
  .card-fees {
    text-align: center;
    background-color: $color-primary;
    color: $text-color-secondary;
    padding: 0.6rem;
    div {
      padding: 0.5em 0;
    }
  }
  .icon-container {
    width: 100%;
    background-color: $text-color-secondary;
    display: flex;
    justify-content: center;
    padding: 0.5em 0;
    transition: 0.3s all ease;
    cursor: pointer;
    .icon {
      font-size: 22px;
      color: $text-color-dark;
      transition: 0.3s all ease;
    }
  }
  .icon-container:hover {
    background-color: $text-color-dark;
  }
  .icon-container:hover .icon {
    color: $background-light-high;
  }
}
