@import '../app.scss';
@mixin underlineEffect {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: '';
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
@mixin navBarLinks {
  color: #fefefe;
  text-decoration: none;
  padding: 7px 12px;
  position: relative;
}
@mixin mobile-menu_content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 35%;
}

.Header {
  // position: absolute;
  width: 100%;
  height: 80px;
  background-color: $color-primary;
  z-index: 3;
  .Navbar {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((100vw - 1300px) / 2);
    .menu-btn {
      display: none;
    }
    .logoContainer {
      width: 100px;
      padding: 5px;
      margin: 0.1em;
      img {
        width: 100%;
      }
    }
    .leftSection {
      display: flex;

      &-links {
        display: flex;
        align-items: center;
        li a {
          @include navBarLinks();
          span {
            display: flex;
            align-items: center;
          }
        }
        li:nth-child(2) a:after {
          @include underlineEffect();
        }
        li:nth-child(2) a:hover:after {
          width: 100%;
          left: 0;
        }
      }
      &-links .dropdown-links {
        position: absolute;
        top: 60px;
        width: 220px;
        height: auto;
        padding: 1em 0em;
        background-color: $background-light-high;
        border: 1px solid $text-color-dark;
        z-index: 10;
        clip-path: polygon(
          20% 0,
          24% 4%,
          100% 4%,
          100% 100%,
          0 100%,
          0 4%,
          16% 4%
        );
        visibility: hidden;
        opacity: 0;
        transition: 0.3s all ease;
        .dropdown-item {
          left: -50px;
          padding: 0.5em 1.5em;
          width: fit-content;
          a {
            text-transform: capitalize;
            color: $text-color-dark;
          }
        }
      }
      &-links li:hover .dropdown-links {
        visibility: visible;
        opacity: 1;
        display: inline;
      }
    }

    .middleSection {
      .search-area {
        position: relative;
        &_input {
          position: relative;
          z-index: 19;
          height: 2rem;
          width: 35vw;
          min-width: 100px;
          border-radius: 25px;
          border: none;
          outline: none;
          padding-left: 10px;
        }
        &_button {
          position: absolute;
          top: 5%;
          right: 0.5rem;
          background: none;
          outline: none;
          border: none;
          z-index: 19;
          cursor: pointer;
          .search-icon {
            font-size: 2rem;
          }
        }
      }
      .searchList-container {
        position: absolute;
        top: 45px;
        background-color: #fff;
        border-top: 0px;
        padding: 15px 10px 0;
        z-index: 17;
        width: 35vw;
        min-width: 200px;
        .searchList-item {
          display: flex;
          margin-bottom: 5px;
          cursor: pointer;
          .link {
            display: inherit;
            .searchList-image_container {
              height: 60px;
              img {
                height: 100%;
              }
            }
            .searchList-title_container {
              display: flex;
              align-items: center;
              .searchList-title {
                font-size: 14px;
                color: $text-color-dark;
              }
            }
          }
        }
        .searchList-item:hover {
          background-color: #dce9f1;
        }
        &.empty {
          padding: 0;
        }
      }
    }
    .rightSection {
      &-links {
        display: flex;
        div {
          display: flex;
          &:nth-child(1) li {
            border-right: 1px solid grey;
          }
        }
        div:nth-child(1) {
          .profile {
            &-dropdown {
              display: flex;
              flex-direction: column;
              justify-content: space-around;
              position: absolute;
              z-index: 11;
              top: 45px;
              width: 120px;
              background-color: $background-light;
              opacity: 0;
              visibility: hidden;
              transition: 0.6s all ease;
              &_link {
                border-right: none;
                width: 100%;
                a {
                  display: block;
                  width: 100%;
                  color: $text-color-dark;
                  padding: 0.6em 0 0.6em 0.3em;
                  transition: 0.2s all ease;
                }
                a:hover {
                  background: $text-color-dark;
                  color: $background-light-high;
                }
              }
            }
          }
        }
        div:nth-child(1):hover {
          .profile {
            &-dropdown {
              opacity: 1;
              visibility: visible;
              top: 60px;
            }
          }
        }
        .underline_effect {
          @include navBarLinks();
        }
        .underline_effect:after {
          @include underlineEffect();
        }
        .underline_effect:hover:after {
          width: 100%;
          left: 0;
        }
        #cart {
          display: inline-block;
          .cart-icon {
            font-size: 20px;
            margin-right: 10px;
          }
          span {
            position: relative;
            bottom: 4px;
            background-color: #fefefe;
            color: #2a2b2c;
            border-radius: 100%;
            padding: 0 5px;
          }
        }
      }
    }
  }
  .mobile-menu {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .Header {
    position: fixed;
    z-index: 10;
    top: 0;
    .Navbar {
      .menu-btn {
        display: flex;
        position: relative;
        top: -2px;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: all 0.5s ease-in-out;
        margin-left: 15px;

        &_burger {
          width: 20px;
          height: 3px;
          background-color: #fefefe;
          border-radius: 5px;
          transition: all 0.5s ease-in-out;

          &::before,
          &::after {
            content: '';
            position: absolute;
            width: 20px;
            height: 3px;
            background-color: #fefefe;
            border-radius: 5px;
            transition: all 0.5s ease-in-out;
          }
          &::before {
            transform: translateY(-6px);
          }
          &::after {
            transform: translateY(6px);
          }
        }
        &.active .menu-btn_burger {
          transform: translate(-50px);
          background: transparent;
          &::before {
            transform: rotate(45deg) translate(35px, -35px);
          }
          &::after {
            transform: rotate(-45deg) translate(35px, 35px);
          }
        }
      }
      .leftSection {
        display: none;
      }
      .rightSection {
        div:nth-child(1) {
          background-color: red;
          display: none;
        }
        div:nth-child(2) {
          margin-right: 15px;
        }
      }
    }
    .mobile-menu {
      z-index: 11;
      display: flex;
      width: 33vw;
      min-width: 240px;
      height: calc(100vh + 80px);
      background-color: $color-secondary;
      position: relative;
      transition: 0.8s all ease-in-out;
      left: -100%;
      & div {
        display: flex;
        flex-direction: column;
        height: 60%;
        width: 80%;
        margin: auto auto;
      }
      &.active-mobile {
        left: 0%;
      }
      &_primary {
        font-weight: bold;
        @include mobile-menu_content();
        padding-bottom: 25px;
        border-bottom: 1px solid grey;
      }
      &_secondary {
        @include mobile-menu_content();
      }
    }
  }
}

@media screen and (max-width: 678px) {
  .Header {
    .Navbar {
      .middleSection {
        .searchList-container {
        }
      }
      .rightSection {
        div:nth-child(2) {
          margin: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 360px) {
  .Header {
    .Navbar {
      .middleSection {
        .searchList-container {
          left: 35%;
          top: 60px;
        }
      }
    }
  }
}
