@import '../app.scss';
.inputForm-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.2em;
  .label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
    transition: 0.3s color ease-in-out;
    color: #505050;
    text-align: center;
    &.labelValid {
      color: $valid;
    }
    &.labelDanger {
      color: $danger;
    }
  }
  .input {
    height: 35px;
    width: 100%;
    border: 2px solid transparent;
    // border-bottom: 1px solid grey;
    padding-left: 10px;
    margin-bottom: 1em 0;
    background: $background-light;
    border-radius: 25px;
    outline: none;
    transition: 0.3s border ease-in-out;
    box-shadow: 0px 7px 11px 0px rgba(0, 0, 0, 0.17);
    -webkit-box-shadow: 0px 7px 11px 0px rgba(0, 0, 0, 0.17);
    -moz-box-shadow: 0px 7px 11px 0px rgba(0, 0, 0, 0.17);
  }
  .input:focus {
    border: 2px solid $color-primary;
  }
  .valid {
    border: 2px solid $valid;
  }
  .danger {
    border: 2px solid $danger;
  }
}
