@import '../app.scss';
@import './Card.scss';
.modalProduct-wrapper {
  position: fixed;
  width: 30%;
  max-height: 80vh;
  overflow: scroll;
  background-color: #eeeeee;
  border-radius: 25px;
  top: -100%;
  left: 35%;
  z-index: 20;
  transition: 1.5s all ease;
  opacity: 0;
  header {
    padding: 1em 0;
    padding-left: 1.5rem;
    background-color: #dfdfdf;
    border-radius: 25px 25px 0 0;
    display: flex;
    justify-content: space-between;
    .icon{
      cursor: pointer;
    }
    h2 {
      margin-left: 20px;
    }
    h3{
      padding-right: 20%;
    }
  }
  .modal-container {
    width: 80%;
    margin: 0 auto 1.5em;
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    .modal-names {
      margin-bottom: 1rem;
      h3 {
        margin-bottom: 2px;
      }
      p {
        padding-left: 1em;
        display: flex;
        flex-direction: row;
        .sizes-container{
          display: flex;
          flex-direction: column;
          width: 20%;
        }
        input{
          height: 25px;
          width: 100%;
          outline: none;
        }
        textarea{
          width: 100%;
          height: 100px;
          resize: none;
        }
      }
      .image-container{
        width: 150px;
        height: 150px;
        object-fit: cover;
        img{
          height: 100%;
        }
      }
      
    }
  }
  footer {
    display: grid;
    grid-template-columns: 30% 30% 40%;
    text-align: center;
    margin-bottom: 1em;
    align-items: center;
    .total{
      h3{
        input{
          width: 60%;
        }
      }
    }
    .status {
      .button {
        cursor: pointer;
        width: 80%;
      }
    }
  }
  .error-wrapper{
    position: fixed;
    top: -15%;
    left: 0;
    width: 100vw;
    height: 80px;
    background-color: $danger;
    transition: .7s top ease-out;
    .error-container{
      padding: 0rem calc((100vw - 1300px)/2);
      height: 100%;
      display: flex;
      align-items: center;
      h3{
        font-weight: bold;
        font-size: 24px;
        color: #440808;
      }
    }
    &.active{
      top: 0%;
    }
  }
  .message-success_wrapper{
    position: fixed;
    top: -15%;
    left: 0;
    height: 80px;
    width: 100vw;
    background-color: $valid;
    transition: .8s all ease-out;
    .message-success_container{
      height: 100%;
      display: flex;
      align-items: center;
      padding-left: 1.5rem;
      h3{
        color: #003504;
        font-size: 24px;
      }
    }
    &.activeMessage{
      top: 0;
    }
  }
}
.modalProduct-wrapper::-webkit-scrollbar{
  display: none;
}
.active-modal {
  position: fixed;
  top: 10%;
  opacity: 1;
}

@media screen and(max-width: 678px) {
  .modalProduct-wrapper {
    min-width: 60%;
    left: 28%;
    max-height: 400px;
    overflow: scroll;
  }
}

@media screen and(max-width: 768px) {
  .modalProduct-wrapper {
    width: 50%;
    left: 28%;
  }
}
