@import '../app.scss';
.pagination-wrapper{
  .pagination{
    display: flex;
    justify-content: flex-end;
    flex-flow: row wrap;
    &-item{
      width: 40px;
      height: 40px;
      padding: 5px;
      margin-left: 1px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: .4s all ease;
    }
    &-item:hover{
      color: $text-color-primary;
      background-color: $color-secondary;
    }
    &-item:hover .page-link{
      color: $text-color-primary;
      font-size: 18px;
    }
    .page-link{
      transition: .4s all ease;
      color: black;
    }
  }
  span{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding-top: 10px;
  }
}

.light{
  color: $text-color-dark !important;
}

.dark{
  color: $background-light-high !important;
}