@import '../app.scss';
.cards-wrapper{
  padding: 2em 0;
  .cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 3fr));
    .noOrders{
      color: $background-light-high;
      font-size: 24px
    }
  }
}