@import '../app.scss';

.promo{
  width: 100%;
  background-color: $color-primary;
  .promo-container{
    padding: 0rem calc((100vw - 1300px) / 2);
    text-align: center;
    h2{
      padding: 15px 0;
      color: $text-color-primary;
      font-size: 1.3rem;
    }
  }
}