@import '../app.scss';
.signUp-wrapper {
  width: 100%;
  height: 100vh;
  header {
    width: 100%;
    height: 80px;
    position: absolute;
    background: $color-secondary;
    nav {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0rem calc((100vw - 1300px) / 2);
      .logoContainer {
        width: 100px;
        padding: 5px;
        margin: 0.1em;
        img {
          width: 100%;
        }
      }
    }
  }
  .signUp-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: $color-primary;
    z-index: 1;
    .signUp-card {
      position: relative;
      top: 25px;
      z-index: 2;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 28%;
      padding-top: 235px;
      border-radius: 15px;
      max-height: 500px;
      min-height: 370px;
      min-width: 280px;
      overflow-y: scroll;
      background: #fcfcfc;
      .signUp-title {
        width: 100%;
        padding: 1em 0;
        margin-top: 1em;
        text-align: center;
      }
      .form-container {
        height: 90%;
        width: 100%;
        display: flex;
        justify-content: center;
        form {
          height: 100%;
          width: 90%;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          .danger {
            color: $danger;
          }
          .inputForm-container:nth-child(7) {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            label {
              font-size: 12px;
            }
            input {
              width: 5%;
            }
          }
          .btn-container {
            display: flex;
            justify-content: center;
            width: 100%;
            span {
              height: 100%;
              width: 100%;
              .button {
                width: inherit;
                button {
                  width: 100% !important;
                }
              }
            }
          }
        }
      }
      .redirect {
        display: block;
        margin: 0;
        padding-bottom: 1em;
      }
    }
    .signUp-card::-webkit-scrollbar {
      width: 0px;
    }
  }
}
