@import '../app.scss';
.signUp-wrapper {
  width: 100%;
  height: 100vh;
  header {
    width: 100%;
    height: 80px;
    position: absolute;
    background: $color-secondary;
    nav{
      height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((100vw - 1300px) / 2);
    .logoContainer{
      width: 100px;
      padding: 5px;
      margin: 0.1em;
      img{
        width: 100%;
      }
    }
    }
  }
  .signUp-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: $color-primary;
    z-index: 1;
    .signUp-card {
      position: relative;
      top: 25px;
      z-index: 2;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 23%;
      padding-top: 200px;
      border-radius: 15px;
      max-height: 500px;
      min-height: 370px;
      min-width: 280px;
      overflow-y: scroll;
      background: #fcfcfc;
      .signUp-title{
        width: 100%;
        padding: 1em 0;
        margin-top:1em;
        text-align: center;
      }
      .form-container {
        height: 90%;
        width: 90%;
        display: flex;
        align-items: center;
        padding-left: 10%;
        form {
          height: 100%;
          width: 90%;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          .danger{
            color: #db0000;
          }
          // .inputForm-container {
          //   display: flex;
          //   flex-direction: column;
          //   margin-bottom: .5em;
          //   label{
          //     font-size: 16px;
          //     margin-bottom: 5px;
          //   }
          //   input{
          //     height: 35px;
          //     width: 100%;
          //     border: 3px solid transparent;
          //     // border-bottom: 1px solid grey;
          //     padding-left: 10px;
          //     margin-bottom: 1em 0;
          //     background: $background-light;
          //     border-radius: 25px ;
          //     outline: none;
          //     transition: .5s border ease-in-out;
          //   }
          //   input:focus{
          //     border: 2px solid $color-primary;
          //   }
          //   .text-error{
          //     font-size: 12px;
          //     color: #db0000;
          //   }
          // }
          .inputForm-container:nth-child(7){
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            label{
              font-size: 12px
            }
            input{
              width: 5%;
            }
          }
        }
      }
    }
    .signUp-card::-webkit-scrollbar{
      width: 0px;
    }
  }
}
