@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600&display=swap');
$color-primary: #923434;
$color-secondary: #471717;

$background-light: #ebebeb;

$text-color-primary: #fefefe;
$text-color-secondary: #c5c5c5;
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
body{ 
  background-color: $background-light;
}
li{
  list-style: none;
  a{
    color: $text-color-primary;
    text-decoration: none;
  }
}