@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600&display=swap');
$color-primary: #923434;
$color-secondary: #471717;

$background-light: #ebebeb;
$background-light-high: #f4f4f4;

$text-color-primary: #fefefe;
$text-color-secondary: #c5c5c5;

$text-color-dark: #2a2b2c;
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
body{ 
  background-color: $background-light;
}
li{
  list-style: none;
  a{
    color: $text-color-primary;
    text-decoration: none;
  }
}

.App{
  .overlay{
    height: 100vh;
    width: 100vw;
    background: $text-color-secondary;
    position: fixed;
    opacity: 0.5;
    z-index: 2;
  }
}